<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Css-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'authen/deletemain.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                      <center><h4 class="logcap">The task: <br> {{object}}</h4>
                              <h4>Description: {{object.desc}}</h4>
                              <h4>Completed?: {{object.cmpl}}</h4>
                              <h4>Date: {{object.created}}</h4>
                              <a class="btn btn-success" style="font-size:12px; margin-left:0px;" href="{% url 'task_page' %}">Go back</a>
                      </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body></html>
